.categoryList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryList ul {
  list-style: none;
  width: 50%;
  margin: 0;
  padding: 0;
}

.category {
  border-bottom: 2px solid #3f72af;
  padding: 1rem 0;
}

.category:hover {
  background-color: rgba(37, 127, 234, 0.2);
}

.category h2,
p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 18px;
}

.category h2 {
  display: inline;
  padding-right: 1rem;
  font-weight: 500;
  color: #000;
}

.category p {
  color: #808080;
  font-weight: 400;
  padding-top: 0.5rem;
}
