.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList ul {
  list-style: none;
  width: 60%;
  margin: 0;
  padding: 0;
}

.task {
  border-bottom: 2px solid #3f72af;
  padding: 1rem;
}

.task:hover {
  background-color: rgba(37, 127, 234, 0.2);
}

.task h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 18px;
}

.task h2,
h3 {
  display: inline;
  padding-right: 1rem;
}

.task p {
  color: #808080;
  font-weight: 400;
  padding-top: 0.5rem;
}

.task h2 {
  font-weight: 500;
  color: #000;
}

.task h3 {
  font-weight: 400;
  color: #3f72af;
}

.no_tasks {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_tasks p {
  color: #3f72af;
  display: inline-block;
}
