.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList ul {
  list-style: none;
  width: 60%;
  margin: 0;
  padding: 0;
}

.task {
  border-bottom: 2px solid #3f72af;
  padding: 1rem;
}

.task:hover {
  background-color: rgba(37, 127, 234, 0.2);
}

.task h3 {
  font-weight: 400;
  color: #3f72af;
}

.no_tasks {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_tasks p {
  color: #3f72af;
  display: inline-block;
}
