.categoryForm button {
  padding: 0.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
  border: 2px solid #3f72af;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #3f72af;
}

.todoForm button:hover,
.todoForm button:focus {
  background-color: rgba(37, 127, 234, 0.2);
  border-color: #257fea;
}

.todoForm button:active {
  background-color: #257fea;
  border-color: #257fea;
  color: #fff;
}

.btnAction {
  background-color: #3f72af;
  color: #fff !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.btnAction:hover,
.btnAction:focus {
  background-color: #257fea;
  border-color: #257fea;
}

.btnAction:active {
  background-color: #65abff;
  border-color: #65abff;
}

.btnControl {
  padding: 1rem 0 0 0;
  text-align: right;
}

.categoryForm textarea {
  width: 97.12%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 46px;
  resize: none;
  height: 4rem;
}

.textOnInput {
  position: relative;
}

.textOnInput label,
.dropdownLabel {
  position: absolute;
  top: -12px;
  left: 10px;
  padding: 2px;
  z-index: 1;
  color: #3f72af;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.textOnInputError label {
  color: #ec1d1d;
}

.textOnInput label:after,
.dropdownLabel::after {
  content: " ";
  background-color: #dbe2ef;
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 12px;
  z-index: -1;
}

.dropdownLabel:hover + div > div {
  border: 2px solid #257fea;
}

label {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.formControl {
  box-shadow: none !important;
  background-color: #dbe2ef;
  border: 2px solid #3f72af;
  padding: 0.5rem;
  border-radius: 4px;
  width: 42rem;
  font-size: 20px;
}

.formControl:hover,
.formControl:focus {
  background-color: #dbe2ef;
  border: 2px solid #257fea !important;
  outline: none !important;
}

.formControlError,
.formControlError:hover,
.formControlError:focus {
  border: 2px solid #ec1d1d !important;
}

.inputsControl {
  display: flex;
  margin-bottom: 1rem;
}
