@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

button {
  border: none;
  background: none;
  cursor: pointer;
}

.required {
  color: #ec1d1d;
}

.name-input-error {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  display: flex;
  align-items: center;

  color: #ec1d1d;
}
